body {
  background-color: #a7e9af;
  font-stretch: semi-condensed;
}

h1{
  color: #ff677d;
  font-style: italic;
}
h3{
  color: #66BFBF;
}

hr {
  background-color: White;
  border-style: none;
  border-top-style: dotted;
  border-color: #21243d;
  border-width: 8px;
  width: 10%;
}
img{
  border-radius: 100%;
}
